* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h2 {
  margin: 10px;
}

.tableHead {
  display: flex;
}

.tableHead div {
  display: flex;
  background-color: darkcyan;
  height: 50px;
  width: 200px;
  border: solid black;
  border-width: 0 1px 1px 0;
  justify-content: center;
  align-items: center;
  color: white;
  border-width: 0 1px 1px 0;
}

.tableContainer {
  overflow: scroll;
  overflow-y: initial;
  height: 500px;
}

.tableContainer::-webkit-scrollbar {
  width: 0px;
}

.tableBody {
  display: flex;
}

.tableBody div {
  display: flex;
  background-color: lightgrey;
  height: 35px;
  width: 200px;
  border: solid black;
  border-width: 0 1px 1px 0;
  justify-content: center;
  align-items: center;
  color: black;

}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.generalLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.minorLabel {

  margin: 10px;
}

label {
  margin: 10px;
  max-width: max-content;
}

input {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  background: #f2f2f2;
  padding: 2px;
  border-radius: 3px;
  width: 250px;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: #222;
  transition: color 0.3s ease;
}

.link {
  text-decoration: none;
}

.button {
  background-color: aquamarine;
  border: solid 1px black;
  border-radius: 5px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.button-new {
  background: linear-gradient(to bottom right, darkcyan, rgb(93, 233, 233));
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  outline: transparent;
  padding: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 5px;
}

.button-new:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(87, 68, 72, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-new:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(87, 68, 72, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}